//Floating labels
$form-floating-line-height: 1.25;
$form-floating-padding-x: 0.5rem;
$form-floating-padding-y: 1.5rem;
$form-floating-input-padding-t: 2.25rem;
$form-floating-input-padding-b: .625rem;
$form-floating-label-opacity: .8;
//----------------------------
//Colors:
$primary: #8859EC;

@import 'bootstrap/scss/bootstrap';
