.landing {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, #002c6a, #002458, #001b47, #011337, #000627);
}
.landing-text {
    color: white;
    font-size: 50px;
    font-weight: 600;
}
.landing-content {
    padding: 0px 106px;
}
.crypto-trading-text {
    background: linear-gradient(89.03deg, #2C66B8 0.54%, #8859EC 97.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
}